{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
<div class="about-section">
  <h1 style="color: black; font-family: cursive;">inspire  <span>innovate</span>   integrate</h1>
  <p>To inspire, motivate and encourage students to learn, create and help build a better society.</p>
  <p>To teach new ways of thinking, to innovate and solve the problems on their own.</p>
  <p>To let the students integrate, and help each other, learn from each other and do well together.</p>
</div>

</body>
</html>

{% endblock content %}