{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="servicebody">
    <div class="container">
        <div class="services">
            <h1>Our Services</h1>
            <p>TSF bank is trust for customers... </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                   <h3>Funds remittance</h3>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, odio.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                   <h3>Security</h3>
                   <p>Lorem ipsum dolor, sit amet consectetur  dolorem quis?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                   <h3>Advancement of Loans</h3>
                   <p>Lorem ipsum dolor, elit.  aspernatur accusamus labore deserunt pariatur culpa, dolorem quis?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                   <h3>Cheque Payments</h3>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, odio.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                   <h3>Credit cards</h3>
                   <p>Lorem ipsum dolor, sit amet consectetur  dolorem quis?</p>
                </div>
            </div>
            
        </div>
    </div>
</body>
{% endblock content %}